<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-3 offset-3">
            <h1 class="col-4 offset-3">SignUp</h1>
            <div class="signup" novalidate class="needs-validation">
                <form action="/signup" method="post">
                    <div class="mb-2">
                        <!-- <label for="username" class="form-label">Username</label> -->
                        <input type="text" name="username" placeholder="username" class="form-control" id="username" required>
                    </div>
                    <br>
                    <div class="mb-2">
                        <!-- <label for="email" class="form-label">Email</label> -->
                        <input type="email" name="email" placeholder="email" class="form-control" id="email" required>
                    </div>
                    <br>

                    <div class="mb-2">
                        <!-- <label for="password" class="form-label">password</label> -->
                        <input type="password" name="password" placeholder="password" class="form-control" id="password" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">SignUP</button>
                </form>
            </div>
    </div>
</div>